*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
!Cara.exe/
*.out
*.app
*.logs
*.log
*.tlog
.vs/
*.vsidx
*.suo
Cara.exe/resources/logs/*
!Cara.exe/resources/logs/.gitkeep
Cara.exe/resources/data/minigame/coderunner/hscore.txt
Cara.exe/resources/data/minigame/dicearena/best.txt
Cara.exe/resources/data/minigame/reactor/best.txt
